@media (max-width:991px) {
    body.poster {
        margin-top: 60vh;
    }
}

body.poster {
    background-attachment: fixed;
}

.top-5 {
    top: 5px;
}

custom-btn {
}

@media (max-width:575px) {
    XS button {
        border-radius: 10% / 50%;
        outline: solid;
    }
}
